/*Colors*/
/*Fonts*/
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald-ExtraLight.ttf);
}
@font-face {
  font-family: Oswald-Strong;
  src: url(../font/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: Oswald-Bold;
  src: url(../font/Oswald-Regular.ttf);
}
b {
  font-weight: bold;
}
/****/
.pl-40px {
  padding-left: calc(40px + 1.5rem);
  padding-right: 1.5rem;
}
/**/
.swiper-pagination-bullet-active {
  background: #b21e27 !important;
  border: 1px solid #b21e27 !important;
  opacity: 1!important;
  filter: alpha(opacity=1000) !important;
}
.swiper-pagination-bullet {
  background: transparent;
  opacity: 1!important;
  filter: alpha(opacity=1000) !important;
  border: 1px solid #ffffff;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  box-shadow: 0 0 5px #333;
}
.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  box-shadow: 0 0 5px #b21e27;
}
.panel {
  height: 100vh!important;
  width: 100%;
  overflow: hidden;
}
/**/
#banner,
#prinbanner {
  height: 100vh;
}
#banner .swiper-slide {
  background-size: cover;
  background-position: center bottom;
}
#productos,
#tiendas,
#contacto,
#contacto > div.row {
  min-height: 100vh;
}
#productos div.backgroundimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#productos div.isotipo {
  height: 25%;
  background-size: auto 100%;
  background-size: contain;
  max-width: 150px;
  margin: 0 auto;
}
#productos #productosswiper > div.swiper-wrapper > div.swiper-slide {
  height: auto;
}
#productos div.ss-produt {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
#productos div.contproducts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#productos .tostore {
  position: absolute;
  display: none;
}
#productos .contproducts {
  background-color: rgba(0, 0, 0, 0.6);
}
#productos .contproducts:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
#productos .swiper-slide > div.row:nth-child(1) {
  overflow: hidden;
}
#productos .blur_effect {
  transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
#productos div.logo {
  height: 60px;
  background-size: contain;
  background-position: center bottom;
  max-width: 150px;
}
#populares,
#populares #popularesswiper > div.swiper-wrapper {
  height: 100vh!important;
}
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide {
  border: 1px solid #dee2e6;
}
#populares #popularesswiper .border-r {
  border-right: 2px solid #dee2e6;
}
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(1),
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(4) {
  height: 40%;
}
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(2),
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(3) {
  height: 60%;
}
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(5),
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(8) {
  height: 40%;
}
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(6),
#populares #popularesswiper > div.swiper-wrapper > div.swiper-slide:nth-child(7) {
  height: 60%;
}
#populares .popularrowstandar > div[class*='col']:nth-child(1) {
  height: calc(100% - 62px);
}
#populares .popularrowstandar > div[class*='col']:nth-child(2) {
  height: 62px;
}
#populares .popularrowstandarIII > div[class*='col']:nth-child(1) {
  height: 67%;
}
#populares .popularrowstandarIII > div[class*='col']:nth-child(2) {
  height: 33%;
}
#populares .popularrowstandarIII > div[class*='col']:nth-child(2) > div.row > div[class*='col']:nth-child(1) {
  height: calc(100% - 62px);
}
#populares .popularrowstandarIII > div[class*='col']:nth-child(2) > div.row > div[class*='col']:nth-child(2) {
  height: 62px;
}
#populares .popularrowstandar .backgroundimg,
#populares .popularrowstandarIII .backgroundimg,
#populares .popularrowstandarIV .backgroundimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#populares .popularrowstandarIV p,
#populares .popularrowstandarV p,
#populares .popularrowstandar p,
#populares .popularrowstandarIV label,
#populares .popularrowstandarV label,
#populares .popularrowstandar label,
#populares .popularrowstandarIV span,
#populares .popularrowstandarV span,
#populares .popularrowstandar span,
#populares .popularrowstandarIV h1,
#populares .popularrowstandarV h1,
#populares .popularrowstandar h1,
#populares .popularrowstandarIV h2,
#populares .popularrowstandarV h2,
#populares .popularrowstandar h2,
#populares .popularrowstandarIV h3,
#populares .popularrowstandarV h3,
#populares .popularrowstandar h3,
#populares .popularrowstandarIV h4,
#populares .popularrowstandarV h4,
#populares .popularrowstandar h4,
#populares .popularrowstandarIV h5,
#populares .popularrowstandarV h5,
#populares .popularrowstandar h5 {
  margin-top: 0;
  margin-bottom: .25rem;
  line-height: 95%;
}
#populares .btn-tostorelittle {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
#noticias {
  height: 100vh!important;
  padding-left: 40px!important;
}
#noticias h5 {
  font-weight: lighter;
}
#noticias #noticiasswiper > div.swiper-wrapper > div.swiper-slide {
  height: auto;
  border: 1px solid #dee2e6;
}
#noticias #noticiasswiper > div.swiper-wrapper > div.swiper-slide p {
  font-size: 90%;
}
#noticias .background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#noticias .titular {
  color: #ffd900;
}
#noticias .delsaytag {
  font-weight: lighter;
  padding: 0 .5rem;
  color: #ffffff;
  background-color: #b0b0b0;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
#noticias .btn-tostore {
  position: absolute;
  bottom: 35px;
  right: 15px;
  z-index: 11;
}
#tiendas > div[class*='col']:nth-child(1) {
  height: 60px;
}
#tiendas > div[class*='col']:nth-child(2) {
  height: calc(100vh - 60px);
}
#tiendas div.backgroundimg {
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
}
#tiendas #tiendasswiper.swiper-container {
  height: 100%!important;
}
#tiendas #tiendasswiper > div.swiper-wrapper > div.swiper-slide {
  height: auto;
}
#tiendas #tiendasswiper .media img {
  width: 40px;
}
#tiendas #tiendasswiper p,
#tiendas #tiendasswiper h5 {
  margin-bottom: 0;
  line-height: normal;
}
#contacto,
#footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#formcontacto,
#formcontactoI {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem 2rem;
}
#formcontacto input,
#formcontacto textarea,
#formcontactoI input,
#formcontactoI textarea {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 0;
}
#formcontacto textarea,
#formcontactoI textarea {
  height: 66px;
  resize: none;
}
#formcontacto input[type='button'],
#formcontactoI input[type='button'] {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}
/**/
.overlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 -5px 5px -5px #333333;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
}
.containernews {
  border: 1px solid #000000;
  max-width: 1730px;
  max-height: 910px;
}
.h-containernews {
  height: 91.666667%;
}
#close1,
#close2 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: .5rem;
  right: .5rem;
  z-index: 10;
}
#close1 svg,
#close2 svg {
  width: 20px;
  height: 20px;
}
button:focus {
  outline: none;
}
#acercade {
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
#ctabs > div.row {
  background-color: #ffffff;
  max-height: 100vh;
  overflow-y: auto;
}
#ctabs > div.row:nth-child(2) {
  background-color: transparent!important;
}
/*#ctabs p{line-height: 110%;font-size: 90%;}*/
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  color: #b21e27 !important;
  background-color: #FFF!important;
  border-color: #000 #000 #FFF!important;
  border-radius: 0!important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
  color: #000000;
}
.nav-tabs .nav-link {
  border-color: transparent;
  color: #000000;
}
.nav-tabs {
  border-bottom: 1px solid #000000 !important;
  border-radius: 0!important;
}
.logacer {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/logos/logodelsayII.svg');
}
#ccontatad {
  display: none;
}
#noticia .h-90 {
  height: 90%;
}
.ppnoticia > div[class*='col']:nth-child(1) {
  height: calc(100% - 50px);
}
.ppnoticia > div[class*='col']:nth-child(2) {
  height: 50px;
}
.hvh-50 {
  height: 50vh;
  overflow-y: auto;
}
#newscarousel {
  height: 60%;
  overflow: hidden;
}
#nav-filosofia {
  max-height: calc(100vh - 135px);
}
#nav-empresa,
#nav-marcas {
  max-height: calc(100vh - 65px);
}
#nav-empresa,
#nav-filosofia,
#nav-marcas {
  overflow-y: auto!important;
  overflow-x: hidden!important;
}
#marcas-tab .nav-link-marcas {
  height: 60px;
  width: 90px;
}
#marcas-tab .nav-link-marcas {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#marcas-tab > li:nth-child(1) > a {
  float: right;
}
#marcas-tab > li:nth-child(2) > a {
  margin: 0 auto;
}
.titulartext {
  background-color: #000000;
  color: #ffffff;
  display: inline;
  line-height: normal;
  margin: 0;
  padding: 0 .25rem;
  -webkit-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
#newscarousel .carousel-indicators {
  margin-bottom: 0;
  bottom: 0;
}
#newscarousel .carousel-indicators li {
  background-color: transparent;
  border: 1px solid #000000;
}
#newscarousel .carousel-indicators .active {
  background-color: #000000;
}
#carouselnews img {
  max-height: 60vh;
  height: calc(100% - 20px);
  width: auto;
}
#ctabs > div.row.no-gutters {
  overflow: hidden;
}
#nav-empresa > div.row.no-gutters,
#nav-filosofia > div.row.no-gutters {
  min-height: 40vh;
}
.acercademarcas {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}
.newslide {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 100%;
}
.locatorstore {
  cursor: pointer;
}
#filterstore {
  border: none;
  border-bottom: 1px solid #000;
  width: 150px;
  background-color: transparent;
}
#noticias h5.d-inline-block {
  font-size: 90%;
}
#redesswiper > div.swiper-wrapper > div.swiper-slide {
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#redesswiper > div.swiper-wrapper > div.swiper-slide > a {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.5);
}
#redesswiper > div.swiper-wrapper > div.swiper-slide > a:hover,
#redesswiper > div.swiper-wrapper > div.swiper-slide > a:focus,
#redesswiper > div.swiper-wrapper > div.swiper-slide > a:active {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
}
#redesswiper > div.swiper-wrapper > div.swiper-slide > a:hover > svg path,
#redesswiper > div.swiper-wrapper > div.swiper-slide > a:hover > svg circle {
  fill: #b21e27;
}
/*#redesswiper>div.swiper-wrapper>div.swiper-slide>a:hover > svg{-webkit-transform: rotateY(0deg);transform: rotateY(360deg);}
#redesswiper>div.swiper-wrapper>div.swiper-slide>a > svg{-webkit-transform: rotateY(0deg) rotateX(0deg);-webkit-perspective: 1000;-webkit-transition: -webkit-transform 1s;-webkit-transform-style: preserve-3d;}*/
.nuestrastiendas > p {
  min-width: 200px;
}
#redesswiper > div.swiper-wrapper > div.swiper-slide > a > svg {
  height: 49px;
  width: 49px;
}
@media (max-width: 199.98px) {
  .acercademarcas {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 991.98px) {
  #noticias h5.d-inline-block {
    font-size: 80%;
  }
  #noticias .newslide {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #populares #popularesswiper > div.swiper-wrapper > div.swiper-slide {
    height: 50%!important;
  }
  #populares .popularrowstandar > div[class*='col']:nth-child(1),
  #populares .popularrowstandarIII > div[class*='col']:nth-child(2) > div.row > div[class*='col']:nth-child(1) {
    height: 100%!important;
  }
}
@media (max-width: 767.98px) {
  #carouselnews {
    display: none!important;
  }
  .acercademarcas {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media (max-width: 575.98px) {
  .pl-40px {
    padding-left: 1.5rem!important;
  }
  .hvh-50 {
    height: 43vh;
  }
  #populares #popularesswiper > div.swiper-wrapper > div.swiper-slide {
    height: 100%!important;
  }
  #populares .popularrowstandarIV > div[class*='col'] {
    height: 50%!important;
  }
  #tiendas .backgroundimg.lazyload {
    display: none!important;
  }
  #tiendas > div[class*='col']:nth-child(1) {
    padding-top: 40px;
    height: 100px!important;
  }
  #tiendas > div[class*='col']:nth-child(2) {
    height: calc(100vh - 110px) !important;
  }
  #tiendas .swiper-wrapper div.swiper-slide {
    height: calc(50vh - 55px) !important;
  }
  #tiendas .swiper-wrapper div.swiper-slide:nth-child(2n) {
    border-top: 1px solid #b21e27;
  }
  /*#tiendas .swiper-wrapper div.swiper-slide:nth-child(5),
    #tiendas .swiper-wrapper div.swiper-slide:nth-child(8),
    #tiendas .swiper-wrapper div.swiper-slide:nth-child(10){border-top: 1px solid @Rojo;border-bottom: 1px solid @Rojo;}*/
  #tiendas .media-body > p {
    font-size: .8rem;
  }
  .h-containernews {
    height: 100%!important;
  }
  #ctabs > div.row {
    padding-top: 40px;
  }
  .secnoticia > div[class*='col'] {
    padding-top: calc(40px + .5rem);
    padding-bottom: .5rem;
  }
  #noticia .h-90 {
    height: 95%!important;
  }
  .logacer {
    min-height: 100px;
    background-size: 50%;
  }
  #titletitularnews {
    margin-top: 1.75rem;
  }
  #nav-empresa,
  #nav-marcas {
    max-height: calc(100vh - 110px);
  }
  #noticias {
    padding-left: 0!important;
  }
}
@media screen and (max-height: 599px) {
  #acercade #ccontatad {
    display: none!important;
  }
}
