/*Colors*/
/*Fonts*/
@font-face {
  font-family: Oswald;
  src: url(../font/Oswald-ExtraLight.ttf);
}
@font-face {
  font-family: Oswald-Strong;
  src: url(../font/Oswald-SemiBold.ttf);
}
@font-face {
  font-family: Oswald-Bold;
  src: url(../font/Oswald-Regular.ttf);
}
