@import "../variables";

.btn-marca{width: 185px;height: 45px;line-height: 45px;color: @Negro;background-color: @Blanco;}
.btn-marca {/*display: inline-block;*/vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.btn-marca:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: @Negro;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.btn-marca:hover, .btn-marca:focus, .btn-marca:active {color: @Blanco;}
.btn-marca:hover:before, .btn-marca:focus:before, .btn-marca:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}
.btn-marca-v{width: 185px;height: 45px;line-height: 45px;color: @Blanco;background-color: @Negro;}
.btn-marca-v{/*display: inline-block;*/vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);/*box-shadow: 0 0 1px rgba(0, 0, 0, 0);*/position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.btn-marca-v:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: @Blanco;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.btn-marca-v:hover, .btn-marca-v:focus, .btn-marca-v:active {color: @Negro;}
.btn-marca-v:hover:before, .btn-marca-v:focus:before, .btn-marca-v:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}
.btn-marcalight {width: 185px;height: 45px;line-height: 45px;color: @Negro;background-color: @Blanco;border: 1px solid @Negro;}
.btn-marcalight {display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);position: relative;-webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.btn-marcalight:before {content: "";position: absolute;z-index: -1;top: 0;left: 0;right: 0;bottom: 0;background: @Negro;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 0 50%;transform-origin: 0 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
.btn-marcalight:hover, .btn-marcalight:focus, .btn-marcalight:active {color: @Blanco;}
.btn-marcalight:hover:before, .btn-marcalight:focus:before, .btn-marcalight:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}
.text-under {/*padding-bottom: 10px;*/border-bottom: 2px solid @Negro;}
/**/
#banner{height: 100vh;max-height: 650px;}
#banner .swiper-container {width: 100%;height: 100%;}
#banner .swiper-slide {background: @Negro;}
#banner .swiper-slide img {width: auto;height: auto;max-width: 100%;max-height: 100%;-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);position: absolute;left: 50%;top: 50%;}
/**/
#prinbanner .swiper-pagination-bullet-active {background:@Negro!important;border: 1px solid @Negro!important;opacity:1!important;filter: alpha(opacity=1000)!important;}
#prinbanner .swiper-pagination-bullet {background: transparent;opacity:1!important;filter: alpha(opacity=1000)!important;border: 1px solid @Blanco;}
#prinbanner .swiper-pagination-bullet {width: 10px;height: 10px;box-shadow: 0 0 5px #333;}
#prinbanner .swiper-pagination-bullet-active {width: 12px;height: 12px;box-shadow: 0 0 5px @Blanco;}
/**/
#acdirecto > div[class*='col']{height: 330px;}
#acdirecto > div[class*='col'] > div:nth-child(1){width: 85%;height: 85%;}
#acdirecto > div[class*='col'] > div:nth-child(1) > a{display: none;}
#acdirecto > div[class*='col'] > div:nth-child(2){z-index: -1;}
#acdirecto > div[class*='col'] > div:nth-child(2) > div{background-position:center right;background-repeat:no-repeat;background-size: cover;}
#acdirecto > div[class*='col']:hover > div:nth-child(1) > a{display: block;}
#acdirecto > div[class*='col']:hover > div:nth-child(2){transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);-webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);filter: blur(3px);}
/**/
#populares > div[class*='col']:nth-child(2){height: 330px;}
#populares > div[class*='col']:nth-child(2) > .swiper-container {width: 100%;height: 330px;margin-left: auto;margin-right: auto;}
#populares > div[class*='col']:nth-child(2) .swiper-slide{height: 330px;}
#populares > div[class*='col']:nth-child(2) .swiper-pagination-bullets {width: 24px;left: initial; right: 3px;top: 50%;bottom: initial;-webkit-transform: translate3d(0,-50%,0);transform: translate3d(0,-50%,0);}
#populares .swiper-pagination-bullet-active {background:@Negro!important;border: 1px solid @Negro!important;opacity:1!important;filter: alpha(opacity=1000)!important;}
#populares .swiper-pagination-bullet {background: transparent;opacity:1!important;filter: alpha(opacity=1000)!important;border: 1px solid @Blanco;}
#populares .swiper-pagination-bullet {width: 10px;height: 10px;box-shadow: 0 0 5px #333;}
#populares .swiper-pagination-bullet-active {width: 12px;height: 12px;box-shadow: 0 0 5px @Blanco;margin: 0;}
#populares .pop > div:nth-child(1) > a{display: none;}
#populares .pop:hover > div:nth-child(1) > a{display: block;}
#populares .pop:hover > div:nth-child(2){transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);-webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);filter: blur(3px);}
#populares .pop > div:nth-child(2) > div{background-position:center;background-repeat:no-repeat;background-size: cover;}
#populares .pop > div:nth-child(2){z-index: -1;}
/**/
#publicidad > div[class*='col']{height: 450px;}
#publicidad .swiper-container {width: 100%;height: 100%;}
#publicidad .swiper-slide {background-color: transparent;}
#publicidad .swiper-slide img {width: auto;height: auto;max-width: 100%;max-height: 100%;-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);position: absolute;left: 50%;top: 50%;}
/**/
#masvendidos > div[class*='col']:nth-child(2){height: 516px;}
#masvendidos > div[class*='col']:nth-child(2) > .swiper-container {width: 100%;height: 516px;margin-left: auto;margin-right: auto;}
#masvendidos > div[class*='col']:nth-child(2) .swiper-slide{height: 516px;}
#masvendidos .venta,#masvendidos .venta > div:nth-child(2){height: 516px;}
#masvendidos .venta > div:nth-child(1) > a{display: none;}
#masvendidos .venta:hover > div:nth-child(1){background-color: rgba(255, 255, 255, .6);}
#masvendidos .venta:hover > div:nth-child(1) > a{display: block;}
#masvendidos .venta:hover > div:nth-child(2) > div:nth-child(1){transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);-webkit-filter: blur(3px);-moz-filter: blur(3px);-o-filter: blur(3px);-ms-filter: blur(3px);filter: blur(3px);}
#masvendidos .venta > div:nth-child(2){z-index: -1;}
#masvendidos .venta > div:nth-child(2) > div:nth-child(1){height:300px;background-position:center;background-repeat:no-repeat;background-size: cover;}
#masvendidos .venta > div:nth-child(2) > div:nth-child(2){height:200px;}
#masvendidos .venta > div:nth-child(2) > div:nth-child(2) > h5{color:@secundary;}
#masvendidos .swiper-pagination-bullet-active {background:@Negro!important;border: 1px solid @Negro!important;opacity:1!important;filter: alpha(opacity=1000)!important;}
#masvendidos .swiper-pagination-bullet {background: transparent;opacity:1!important;filter: alpha(opacity=1000)!important;border: 1px solid @Blanco;}
#masvendidos .swiper-pagination-bullet {width: 10px;height: 10px;box-shadow: 0 0 5px #333;}
#masvendidos .swiper-pagination-bullet-active {width: 12px;height: 12px;box-shadow: 0 0 5px @Blanco;margin: 0;}
/**/
#redes .swiper-container {width: 100%;height: 100%;}
#redes .swiper-slide {height: 270px;}
/*#redes .swiper-slide img {width: auto;height: auto;max-width: 100%;max-height: 100%;-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);transform: translate(-50%, -50%);position: absolute;left: 50%;top: 50%;}*/