@import "variables";

html, body {position: relative;height: 100%;}
body {background: @Blanco;color:@Negro;margin: 0;padding: 0;}
/**/
.text-sm{font-size: 80%;}
.spanvalidate{position:absolute;top:2px;right:20px;display:none;}
.isvalid{color:@valid;}
.novalid{color:@invalid;}
/**/
#brandContainer{max-width: 2048px;}
#sendingspegajoso{display:none;background-color:rgba(160,160,160,.9);color:@Negro;}
/**/
#navbrand{background-color: @Rojo;height: 25px;color: @Blanco;}
#navbrand > div > a{color: @Blanco!important;text-decoration: none;}
#navbrand > div > a > svg{height: 25px;}
/**/
#headerbrand > div{min-height: 200px;}
#headerbrand > div > div.row > div[class*='col']:nth-child(1),#headerbrand > div > div.row > div[class*='col']:nth-child(3){min-width: 138px!important;}
#headerbrand > div > div.row > div[class*='col']:nth-child(2){width: 300px!important;min-width: 300px!important;max-width: 300px!important;}
#headerbrand > div > div.row > div[class*='col']:nth-child(2) > div{height: 100%;}
#headerbrand > div > div.row > div[class*='col']:nth-child(2) > div.background{background-position:center bottom;background-repeat:no-repeat;background-size: contain;}
/**/
#formbusqueda {max-width: 200px;min-height: 35px;height: 35px;}
#formbusqueda input[type="text"]{max-width:385px;color:@Negro;background-color:transparent;border: none;border-bottom:1px solid rgba(0,0,0,.5);border-radius:0;padding-left:25px;}
#formbusqueda button{height:24px;width:24px;position:absolute;top:3px;background-color:transparent;color:@Negro;border:none;}
#formbusqueda button{background-image: url('../img/icons/lupanegro.svg');background-size:24px;background-position:center;background-repeat:no-repeat;}
#formbusqueda .form-control:focus {box-shadow: none;}
#formbusqueda .form-group,#formbusqueda input{max-width:385px;width:100%;}
#formbusqueda{
    ::placeholder {color:@Negro;opacity:.5;}
    ::-ms-input-placeholder {color:@Negro;opacity:.5;filter: alpha(opacity=50);}
    ::-ms-input-placeholder {color:@Negro;opacity:.5;filter: alpha(opacity=50);}
}
/**/
#formsuscribe input[type='email']{background-color: @Blanco;border: 2px solid @Negro;border-radius: 0;}
#formsuscribe input[type='button']{cursor:pointer;background-color:@Negro;color:@Blanco;font-weight:500;border-radius: 0;border: 2px solid @Negro;}
/**/
#footerbrand .suscribe{max-width: 400px;}
#footerbrand .social{max-width: 200px;}
#footerbrand > div[class*='row']:nth-child(1){min-height: 180px;background-color: @gris;}
#footerbrand > div[class*='row']:nth-child(1) > div.col > div.row > div[class*='col']:nth-child(2){width: auto;}
#footerbrand > div[class*='row']:nth-child(2){background-color: @Negro;color:@Blanco;}
#footerbrand > div[class*='row']:nth-child(2) > div{min-height: 25px;}
#footerbrand .social svg{width:30px;height:35px}
#footerbrand .social a:hover>svg g path{fill:@Rojo!important;}
/**/
#mapa{border-left: 2px solid @Negro;}
#mapa a{text-decoration: none;color: @Negro;}
/**/
@media (max-width: 575.98px) {
    #headerbrand > div > div.row > div[class*='col']:nth-child(1),#headerbrand > div > div.row > div[class*='col']:nth-child(3){height: 35px!important;}
    #headerbrand > div > div.row > div[class*='col']:nth-child(2){width: 100%!important;min-width: 100%!important;max-width: 100%!important;}
}