@import "variables";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body {position: relative;height: 100%;}
body {background: @Blanco;color:@Negro;margin: 0;padding: 0;}
footer p{margin: 0;line-height: normal;font-size: 80%;}
footer p>a,footer p>a:hover,footer p>a:focus,footer p>a:active{color:@Blanco;text-decoration:none;}
footer p>a:hover,footer p>a:focus,footer p>a:active{font-weight: 700;}
footer .social svg{width:30px;height:35px}
footer .social a:hover>svg g path{fill:@Rojo!important;}
#cfooter > div[class*='col']:nth-child(2){background-color:@Negro;color:@Blanco;}
/**/
#hacienda,#hacienda:hover,#hacienda:focus,#hacienda:active{color:@Blanco!important;}
/**/
html, body, select{font-family: 'Oswald', sans-serif;}
strong {font-family: 'Oswald-Strong', sans-serif;}
h1,h2,h3,h4,h5,#navdelsay ul > li > a {font-family: 'Oswald-Bold', sans-serif;}
/*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
/**/
.container-delsay{max-width:2048px;margin-right:auto;margin-left:auto;width:100%;}
.delsaylogo{background-image: url('../img/logos/logodelsayI.svg');background-repeat:no-repeat;}
/*.btn-tostore{display:inline-block;background-color:@Negro;color:@Blanco;font-weight:500;padding:.5rem 1.5rem;text-decoration:none;}*/
/*.btn-tostore:hover,.btn-tostore:focus,.btn-tostore:active{font-weight:bold;background-color:@Negro;color:@Blanco;text-decoration:none;}*/
.btn-tostorelittle{box-shadow: 0 0 5px #333;width:50px;height:50px; background-color:@Rojo;color:@Blanco;background-image:url('../img/icons/shopping-bag.svg');background-position:center;background-repeat:no-repeat;background-size: 80%;}
/*.btn-plus{display:inline-block;box-shadow: 0 0 3px #333;width:32px;height:32px; background-color:@Negro;color:@Blanco;background-image:url('../img/icons/simbolo_mas.svg');background-position:center;background-repeat:no-repeat;background-size: 80%;}*/
/**/
/* Sweep To Right */
#noticias .btn-tostore {
    box-shadow: 0 0 5px #333;
    width: 32px;
    height: 32px;
    padding: 0;
    background-image:url('../img/icons/simbolo_mas.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}
.btn-tostore {
    display:inline-block;
    background-color:@Negro;
    color:@Blanco;
    font-weight:500;
    padding:.5rem 1.5rem;
    text-decoration:none;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn-tostore:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @Rojo;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
#noticias .btn-tostore:before {
    background-image:url('../img/icons/simbolo_mas.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}
.btn-tostore:hover, .btn-tostore:focus, .btn-tostore:active {
    font-weight:bold;
    color:@Blanco;
    text-decoration:none;
}
.btn-tostore:hover:before, .btn-tostore:focus:before, .btn-tostore:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.btn-delsaynews{
    background-color: transparent !important;
    width: 100px;
    border:none!important;
    cursor:pointer;
}
.btn-delsaynews,.btn-delsaynews:hover, .btn-delsaynews:focus, .btn-delsaynews:active {
    color: #000 !important;
    text-decoration: none;
}
.share:hover > svg g path{fill:@Rojo!important;}
/**/
#btnsuscripcion,#suscripcionpegajoso{background-position:center;background-repeat:no-repeat;background-size: contain;}
#btnsuscripcion{width:45px;height:50px;z-index:990;top: ~'calc(50vh - 25px)';right: 0;background-image: url('../img/icons/btnformulario.svg');background-position:center;background-repeat:no-repeat;background-size: contain;}
#suscripcionpegajoso{max-width:522px;width:100%;height:234px;background-image: url('../img/background/formulariopegajoso.svg');overflow: hidden;position: fixed;top: ~'calc(50vh - 60px)';right: -3rem;z-index: 995;padding-top: 3rem;padding-right: 4.25rem;padding-bottom: 4.5rem;padding-left: 4rem;}
#suscripcionpegajoso > div[class*='col-'] > div.w-100 > h5:nth-child(1){color: @Amarillo;}
#suscripcionpegajoso > div[class*='col-'] > div.w-100 > p:nth-child(2){color: @Blanco;}
#suscripcionpegajoso > div[class*='col-'] > div.w-100 > div:nth-child(3) > input{background-color: transparent;border-radius: 0;border: 1px solid @Amarillo;color: @Blanco;}
#suscripcionpegajoso > div[class*='col-'] > div.w-100 > div:nth-child(3) > input::placeholder {color: @Blanco;opacity: 1; /* Firefox */}
#suscripcionpegajoso > div[class*='col-'] > div.w-100 > div:nth-child(3) > input:-ms-input-placeholder { /* Internet Explorer 10-11 */color: @Blanco;}
#suscripcionpegajoso > div[class*='col-'] > div.w-100 > div:nth-child(3) > input:-ms-input-placeholder { /* Microsoft Edge */color: @Blanco;}
#suscripcionpegajoso > div[class*='col-'] > button:nth-child(2){position: absolute;top: 0;right: 0;width: 17px;height: 17px;background-image: url('../img/icons/cross.svg');background-position:center;background-repeat:no-repeat;background-size: contain;}
/**/
#suscribealeatorio > div.modal-dialog > div.modal-content{max-width: 520px!important;min-height: 233px;background-image: url('../img/background/formularioaleatorio.svg');background-color:transparent;background-size: contain;background-repeat: no-repeat;background-position: center;-webkit-box-shadow: none;box-shadow: none;}
#suscribealeatorio > div.modal-dialog > div.modal-content{padding-top: 2.5rem;padding-bottom: 4.5rem;padding-left: 2.7rem;padding-right: 4rem;}
#suscribealeatorio > div.modal-dialog > div.modal-content > div.modal-body > #close-suscripcionaleatorio{position: absolute;top: 0;right: 0;width: 17px;height: 17px;background-image: url('../img/icons/cross.svg');background-position:center;background-repeat:no-repeat;background-size: contain;}
#suscripcionaleatorio > div[class*='col-'] > div.w-100 > h5:nth-child(1){color: @Amarillo;}
#suscripcionaleatorio > div[class*='col-'] > div.w-100 > p:nth-child(2){color: @Blanco;}
#suscripcionaleatorio > div[class*='col-'] > div.w-100 > div:nth-child(3) > input{background-color: transparent;border-radius: 0;border: 1px solid @Amarillo;color: @Blanco;}
#suscripcionaleatorio > div[class*='col-'] > div.w-100 > div:nth-child(3) > input::placeholder {color: @Blanco;opacity: 1; /* Firefox */}
#suscripcionaleatorio > div[class*='col-'] > div.w-100 > div:nth-child(3) > input:-ms-input-placeholder { /* Internet Explorer 10-11 */color: @Blanco;}
#suscripcionaleatorio > div[class*='col-'] > div.w-100 > div:nth-child(3) > input::-ms-input-placeholder { /* Microsoft Edge */color: @Blanco;}
/**/
/*** custom checkboxes ***/
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */
/**/
#navdelsay {width:40px;height:100%;position:fixed;z-index:1001;color:@Blanco;}
#navdelsay hr {border-top: 1px solid @Azul;width: 80%;}
#navdelsay ul{list-style: none;}
#navdelsay ul>li>a{color:@Blanco;text-decoration:none;font-size:2rem;}
#navdelsay a{color:@Blanco;text-decoration:none;font-size:90%;}
#navdelsay ul>li>a:hover,#navdelsay ul>li>a.active,#navdelsay a:hover{color:@Rojo;}
#navdelsay #referencia {position: absolute;top: 40px;height: 195px;}
#navdelsay #referencia>ul>li>a{position: relative;}
#navdelsay #referencia>ul>li>a::after{content: "";display: block;height: 0.1em;position: absolute;top: 100%;width: 100%;left: 50%;transform: translate(-50%);background-image: linear-gradient(to right, transparent 50.3%, @Rojo 50.3%);transition: background-position .2s .1s ease-out;background-size: 200% auto;}
#navdelsay #referencia>ul>li>a:hover::after {background-position: -100% 0;}
#navdelsay #referencia>ul>li>a:hover{color:@Blanco;}
#navdelsay>div:nth-child(1){width:100%;height:100%;overflow: hidden;background-color:rgba(0,0,0,.8)}
#navdelsay>div:nth-child(2){background-color: @Rojo;}
#navdelsay>div:nth-child(2).open{background-color: @Negro!important;}
#navdelsay .toggle-button{border:none;background-color: transparent;padding: 0;margin: 0;width: 40px;height: 40px;}
#navdelsay .toggle-button:hover{cursor: pointer;}
#navdelsay .toggle-button,#navdelsay .toggle-button svg{width: 40px;height: 40px;}
#navdelsay .toggle-button>svg:nth-child(2){display:none;}
#navdelsay .open .toggle-button>svg:nth-child(1){display:none;}
#navdelsay .open .toggle-button>svg:nth-child(2){display:block;}
#navdelsay footer p{font-size:70%;white-space:nowrap;}
#navdelsay .delsaylogo{background-size: contain;background-position: top right;min-height: 60px;}
#navdelsay .social svg{width:40px;height:40px}
#navdelsay .social a:hover>svg g path{fill:@Rojo!important;}
#navdelsay footer{background-color: transparent!important;}
#navcontend{overflow-y: auto;overflow-x: hidden;max-height: ~"calc(100vh - 135px)";}
#home {display: flex; line-height: 30px;}
#home svg{height: 30px!important;}
#formbusqueda input[type="text"]{max-width:385px;color:@Blanco;background-color:transparent;border: none;border-bottom:1px solid rgba(255,255,255,.5);border-radius:0;padding-left:25px;}
#formbusqueda button{height:24px;width:24px;position:absolute;top:3px;background-color:transparent;color:@Blanco;border:none;}
#formbusqueda button{background-image: url('../img/icons/lupa.svg');background-size:24px;background-position:center;background-repeat:no-repeat;}
#formbusqueda .form-control:focus {box-shadow: none;}
#formbusqueda .form-group,#formbusqueda input{max-width:385px;width:100%;}
#formbusqueda{
    ::placeholder {color:@Blanco;opacity:.5;}
    ::-ms-input-placeholder {color:@Blanco;opacity:.5;filter: alpha(opacity=50);}
    ::-ms-input-placeholder {color:@Blanco;opacity:.5;filter: alpha(opacity=50);}
}
#liproductos>div.col{min-width:95px;}
#liproductos .lilogoproductos{background-repeat:no-repeat;background-size:auto 60px;background-position:center;height:63px;display: block;}
#liproductos #logoeverlast.lilogoproductos{background-image: url('../img/logos/everlast_menu.svg');}
#liproductos #logoconverse.lilogoproductos{background-image: url('../img/logos/converse_menu.svg');}
#liproductos #logokimdow.lilogoproductos{background-image: url('../img/logos/kimbow_menu.svg');}
#liproductos #logosportway.lilogoproductos{background-image: url('../img/logos/sportway_menu.png');}
#liproductos #logoonestore.lilogoproductos{background-image: url('../img/logos/onestore_menu.png');}
#formsuscribe input[type='email']{background-color: @Blanco;border: 2px solid @Azul;border-radius: 0;}
#formsuscribe input[type='button']{cursor:pointer;background-color:@Azul;color:@Blanco;font-weight:500;border-radius: 0;border: 2px solid @Azul;}

.spanvalidate{position:absolute;top:2px;right:20px;display:none;}
.isvalid{color:@valid;}
.novalid{color:@invalid;}

#su_contact:disabled,#su_contactI:disabled{background-color: @gris_dos!important;}
#sending{position:absolute;bottom:0;opacity:.95;width:100%;height:100%;}
#sending,#sending .mensaje{display:none;}
#sending>.col-11>.row>.col-12{position:absolute;right:0;}
#sending .alert{background-color:rgba(255,255,255,.9);color:@Rojo;}
#sending .h100,#sending>.col-11{height:100%;}
#dismis{display:none;}
#sendingI{position:absolute;bottom:0;opacity:.95;width:100%;height:100%;}
#sendingI,#sendingI .mensaje{display:none;}
#sendingI>.col-11>.row>.col-12{position:absolute;right:0;}
#sendingI .alert{background-color:rgba(255,255,255,.9);color:@Rojo;}
#sendingI .h100,#sendingI>.col-11{height:100%;}
#dismisI{display:none;}
#sendingpegajoso{position:absolute;bottom:0;opacity:.95;width:100%;height:100%;}
#sendingpegajoso,#sendingpegajoso .mensaje{display:none;}
#sendingpegajoso>.col-11>.row>.col-12{position:absolute;right:0;}
#sendingpegajoso .alert{background-color:rgba(0,0,0,.9);color:@Amarillo;}
#sendingpegajoso .h100,#sendingpegajoso>.col-11{height:100%;}
#dismispegajoso{display:none;}
#sendingpegajosoI{position:absolute;bottom:0;opacity:.95;width:100%;height:100%;}
#sendingpegajosoI,#sendingpegajosoI .mensaje{display:none;}
#sendingpegajosoI>.col-11>.row>.col-12{position:absolute;right:0;}
#sendingpegajosoI .alert{background-color:rgba(0,0,0,.9);color:@Amarillo;}
#sendingpegajosoI .h100,#sendingpegajosoI>.col-11{height:100%;}
#dismispegajosoI{display:none;}
#sendingspegajoso{display:none;background-color:rgba(0,0,0,.9);color:@Blanco;}

#line {display: none;position: absolute;top: 40px;right: 30%;width: 2px;background-color: @gris_dos;animation:grow .5s forwards;}
#acd.active ~ #line{display: block!important;}
@keyframes grow{
    0% {
        height: 0px;
    }
    100%{
        height: 195px;
    }
}
#acd.active ~ #line>#hl{display: none;position: absolute;bottom: 0;right: 0;height:2px;background-color: @gris_dos;animation:increase 1s forwards;animation-delay:.5s;}
#acd.active ~ #line>#hl{display: block!important;}
@keyframes increase {
    100% {
        width: 30px;
    }
}
/**/
.brn{background-image: url('../img/background/SliderKimbow1.svg');background-size: 80% 4.5rem;background-repeat: no-repeat;background-position: 0 2rem;}
/**/
@media (max-width: 767.98px) {
    #line {right: 25%;}
}
@media (max-width: 575.98px) {
    #line {right: 30%;}
    #referencia{height: 135px;}
    @keyframes grow{
        0% {
            height: 0px;
        }
        100%{
            height: 135px;
        }
    }
    #navcontend{max-height: ~"calc(100vh - 220px)";}
    #navdelsay {width:100%!important;height:40px;}
    #navdelsay .toggle-button{transform: rotate(90deg);}
    #navdelsay .delsaylogo{background-position: top center;height: 60px;}
    #navdelsay ul>li>a{font-size:1.5rem;}
    footer .suscribe,footer .mapa{display:none!important;}
    footer .social{margin: 0 auto;}
    /**/
    #suscribealeatorio > div.modal-dialog > div.modal-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        background-size: cover!important;
    }
    #suscripcionpegajoso{
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        background-size: auto 120% !important;
    }
    .text-bn{
        font-size: 3rem!important;line-height: 2.5rem!important;
    }
}

/*#populares .standarpopularIV>div[class*='col']:nth-child(2){}*/
/*#populares .gridpopular>div[class*='col']{border: 1px solid @gris;padding:0;}*/
/*input[type="button"].self-center{display:block;}*/
/*body>.container>.row:nth-child(1){min-height:100vh;}*/
/*#formcontacto>div.row>div.col>div.row>div[class*='col']{max-width:1207px;padding:1.5rem 0;}*/
/*  
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/