/*Colors*/
@Rojo: #b21e27;
@Azul: #0032a0;
@Negro: #000;
@Blanco: #ffffff;
@Amarillo: #ffd900;
@gris: #dee2e6;
@gris_dos: #b0b0b0;
@valid: #155724;
@invalid: #856404;
@secundary: #99979C;
/*Fonts*/
@font-face {
    font-family: Oswald;
    src: url(../font/Oswald-ExtraLight.ttf);
}
@font-face {
    font-family: Oswald-Strong;
    src: url(../font/Oswald-SemiBold.ttf);
}
@font-face {
    font-family: Oswald-Bold;
    src: url(../font/Oswald-Regular.ttf);
}