@colorazul:#0032a0 !important;

.container-box{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.container-wizard{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.container-box-body{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	width: 20%;
	flex-direction: row;
	border: 2px solid @colorazul;
	border-radius: 1em;
	background-color: @colorazul;
	color: white;
}

.container-wizard-body{
	display: flex;
	display: -webkit-flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.container-picture{
	display: flex;
	display:-webkit-flex;
    width: 100%;
	height: 60vh;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    padding: 1em;
}

.container-picture-panel{
	display: flex;
	display:-webkit-flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.width-box{
	font-size: 2em;
}