@colorrojo:#0032a0 !important;
@colorblanco:#ffffff !important;
@colorazul:#0032a0 !important;

.skin-blue .main-header .navbar {
    background-color: @colorrojo;
}

.skin-blue .main-header .logo {
    background-color: @colorblanco;
    color: @colorblanco;
    border-bottom: 0 solid transparent;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: @colorazul;
}

.skin-blue .sidebar-menu > li.header {
    color: @colorblanco;
    background: @colorrojo;
}

.skin-blue .form-control, .skin-blue .form-group .form-control {
    background-image: linear-gradient(@colorrojo, @colorrojo),linear-gradient(#D2D2D2, #D2D2D2);
}

.skin-blue .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: @colorblanco;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
    color: @colorrojo;
	font-weight:bold;
}

.bg-red-ushop{
	background-color:#0032a0;
}

.skin-blue .progress .progress-bar, .skin-blue .progress .progress-bar.progress-bar-default {
    background-color: #ffffff !important;
}

.skin-blue .progress-description > .ushop-link{
	color:#ffffff !important;
}

.bg-red-ushop > span > a > i,.bg-red-ushop > div{
	color:#ffffff !important;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a, .skin-blue .sidebar-menu > li.menu-open > a,
.skin-blue .sidebar-menu > li.menu-open > a > i, .skin-blue .sidebar-menu > li.active > a > i,
.skin-blue .sidebar-menu > li.menu-open > a > span, .skin-blue .sidebar-menu > li.active > a > span{
    color: @colorblanco;
	border-left-color:@colorblanco;
    background: @colorrojo;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover,.skin-blue .main-header .navbar .sidebar-toggle:hover > span {
    background-color: @colorblanco;
	color:@colorrojo;
	font-weight:bold;
}

.info, .info > a{
	color:@colorrojo;
}

.treeview > a > i{
	font-weight:bold;
	color:@colorrojo;
}

.treeview > a > span{
	font-weight:bold;
	color:@colorrojo;
}

.treeview:hover > a, .treeview:hover > a > i, .treeview:hover > a > span, .treeview:focus > a{
	font-weight:bold;
	color:@colorblanco;
	background-color:@colorrojo;
	border-left-color:@colorblanco;
}

.navbar-nav > li > a > i{
	font-weight:bold;
	color:@colorblanco;
}

.treeview-menu > li.active{
	font-weight:bold;
	border-bottom:2px solid @colorrojo;
	border-left:2px solid @colorrojo;
}

.skin-blue a > i{
    color: @colorrojo;
}

.form-group .is-focused .label-ushop, .form-group .is-focused label, .is-focused .label-ushop{
	color: @colorrojo !important;
	font-weight:bold;
}

.is-focused .secciones, .is-focused .url{
	color:@colorrojo;
}

.item-grid-picture{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-direction: column;
	border-style: dashed;
	padding: 1.0em;
	align-items: center;
}

.item-grid-picture-file{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
}

.logo-link{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 50%;
	flex-wrap: wrap;
	justify-content: center;
}

.li-style > a, .li-style > i{
	background-color: @colorblanco;
	color:@colorrojo !important;
	font-weight:bold;
}

.li-style > a:hover, .li-style:hover > a > i{
	color:@colorblanco !important;
}

.icologodown > i{
	color:@colorrojo !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: @colorrojo;
    border-color: @colorrojo;
}

.bg-ushop-off{
	background-color:#0032a0;
	cursor:pointer;
}

.bg-ushop-on{
	background-color:#ffffff;
}

.bg-ushop-on i{
	color:#0032a0;
}

.bg-ushop-off i{
	color:#ffffff;
}

/*UTILIDADES*/
.display-flex{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
}

.flex-center{
	.display-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.flex-left{
	.display-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: left;
}


/*BOTONES*/
.btn-ushop{
	background-color: #0032a0 !important;
}

.btn-ushop:hover{
	background-color: #0032a0 !important;
	box-shadow: 4px 3px 7px 2px #4b4b4b !important;
}

.btn-ushop-link{
	background-color: #ffffff !important;
	color:@colorrojo;
}

.btn-ushop-link:hover{
	background-color: #ffffff !important;
	color:@colorrojo;
	box-shadow: 4px 3px 7px 2px #0032a0 !important;
}

/*MODAL*/
.item-modal-header{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.item-modal-footer{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 1em;
}

.item-modal-border{
	border: 8px solid #0032a0;
}