@colorazul:#0032a0 !important;
@blanco:#ffffff !important;

.mostrar{
	display:block !important;
}

.ocultar{
	display:none !important;
}

.text-delsay{
	font-weight:bold;
	color:@colorazul;
}

.icon-right{
	position:relative;
	right:1em;
}

.btn-delsay:hover, .btn-delsay:hover > i{
	background-color:@colorazul;
	color:@blanco;
}

.flex-center{
	display:flex;
	display:-webkit-flex;
	just-content:center;
	alig-items:center;
}