.item-grid-login{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	max-width:600px;
	width:100%;
	flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
}

.item-box{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.item-form-group{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
}

.item-border-login{
	border: 10px solid #0032a0;
	border-radius: 10px;
}

label{
	color:#000000;
	font-size:1.5rem;
}

.login-page{
	background: #f2f2f2;
}

.btn-ushop, .btn-ushop-wizard{
	background-color: #0032a0 !important;
}

.btn-ushop-wizard{
	color:#ffffff;
}

.btn-ushop:hover, .btn-ushop-wizard:hover{
	background-color: #0032a0 !important;
	box-shadow: 4px 3px 7px 2px #4b4b4b !important;
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#0032a0),to(#009688)),-webkit-gradient(linear,left top, left bottom,from(#D2D2D2),to(#D2D2D2)) !important;
    background-image: linear-gradient(#0032a0,#0032a0),linear-gradient(#D2D2D2,#D2D2D2) !important;
}

/*MODAL*/
.item-modal-header{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.item-modal-footer{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 1em;
}

.item-modal-border{
	border: 8px solid #0032a0;
}

.delsay-fonts{
	font-size: 1.2em;
	font-weight: bold;
	padding: 0.5em;
}

.container-wait{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
}