@colorrojo:@colorazul !important;
@colorazul:#0032a0 !important;

.skin-blue .nav-tabs {
    background: #ffffff !important;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
	position: relative;
	margin: 40px auto;
	margin-bottom: 0;
	border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
	position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid @colorazul;
    
}
.wizard li.active span.round-tab i{
    color: @colorazul;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 50%;
}

.btn:not(.btn-raised).btn-primary, .input-group-btn .btn:not(.btn-raised).btn-primary {
    color: @colorazul;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: @colorazul;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
	background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

.logo{
	width:100%;
	height: 100%;
}

.logo-table{
    max-width: 300px;
}

.ushop-col-6-12{
	width:50%;
}

.form-group .is-focused .label-ushop, .form-group .is-focused .label{
	color: @colorrojo !important;
	font-weight:bold;
}

@media only screen and(max-width:1280px){
	.ushop-col-6-12{
		width:100%;
	}
}
	
@media only screen and(max-width:767px){
	.wizard .nav-tabs > li {
		width: 100%;
	}
	
	.ocultar{
		display:none !important;
	}
	
	.mostrar{
		display:block !important;
	}
		
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 120px !important;
	}
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}